*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(background.jpeg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    
    font-weight: 300;
    color: #fff;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contain .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contain .contactInfo .boxx{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contain .contactInfo .boxx .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .boxx .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contain .contactInfo .boxx .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.boxx p{
    color: #fff;
}
.contactForm .inputbox input:focus ~span,
.contactForm .inputbox input:valid ~span,
.contactForm .inputbox textarea:focus ~span,
.contactForm .inputbox textarea:valid ~span
{
    color: #e91e63;
    font-size: 5px;
    transform: translate(-20px);
}
.contactForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width:991px)
{
    .contact{
        padding: 50px;
    }
    .contain{
        flex-direction: column;
    }
    .contain .contactInfo{
        margin-bottom: 40px;
    }
    .contain .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}
.social-media {
    text-align: center;
    margin-top: 50px;
}

.social-media h2 {
    font-size: 24px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

/* Adjust the icon size if needed */
.social-icons img {
    width: 40px; /* Adjust the size as per your preference */
    height: 40px;
}
